.stage {
        position:absolute;
        left:50%;
        margin-left: -350px;
        top:50%;
        margin-top: -184px;
}
.message {
        background-color:rgba(252,250,242, 0.8);
        z-index:100;
        position:absolute;
        border-radius:2px;
        width:400px;
        height:100px;
        bottom:110px;
        left:50%;
        margin-left:-200px;
        display:none;
}
.between {
        position:absolute;
        width:380px;
        height:80px;
        top:8px;
        left:8px;
        border-style:dashed;
        border-width:2px;
}
.msg_box {
        position:absolute;
        width:370px;
        height:65px;
        top:4px;
        left:4px;
        word-break: normal;
        overflow: auto;
}
.msg_person {
        position:float;
        float: left;
}
.msg_content {
        position:float;
        float: left;
        width:300px;        
}
.next {
        filter: brightness(120%);
        position:absolute;
        width:80px;
        height:20px;
        left:150px;
        bottom:4px;
        border-bottom-style:solid;
        border-right-style:solid;
        border-width:2px;
        text-align: center;
        cursor: pointer;
}
.noSession {
        bottom:0px;
        border-radius:2em;
        border:1px solid;
        height:30px;
        line-height: 30px;
        width:100px;
        text-align:center;
        cursor:pointer;
        background-color:rgba(252,250,242, 1);
}
.dontclick {
        height:100%;
        width:100%;
        position:absolute;
        z-index:99;
        top:0px;
        left:0px;
}
a:hover {
        color:gray;
        cursor:pointer;
}
.noSession:hover {
    background-color:gray;
}